<mat-card>
    <mat-card-title>Remover Usuário por ID</mat-card-title>
  
    <form (ngSubmit)="ondeleteUser(userForm)" #userForm="ngForm">
        <table>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Digite o id</mat-label>
            <input matInput type="text" ngModel name="id" required #idInput>
          </mat-form-field>
        </td>
        <button mat-raised-button color="warn" type="submit">Remover</button>
        </table> 
    </form>
</mat-card>
