

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cadastrar usuário
      </mat-panel-title>
      <mat-panel-description>
        Clique aqui para criar o usuário
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-title>Preencha os campos a seguir com as informações necessárias</mat-card-title>
      <form (ngSubmit)="onAddUser(userForm)" #userForm="ngForm">
        <table>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Digite seu nome</mat-label>
              <input matInput type="text" ngModel name="name" required #nameInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Informe sua data de nascimento</mat-label>
              <input matInput ngModel name ="birthDate" [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Informe seu Gênero</mat-label>
              <input list="genders-list" matInput ngModel name="gender" type="text" required #genderInput>
              <datalist id="genders-list">
                <option ngModel name="gender" *ngFor="let g of genders" [value]="g.value">
                  {{ g.viewValue }}
                <option>
              </datalist>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Informe sua Nacionalidade</mat-label>
              <input matInput type="text" ngModel name="nationality" required #nationalityInput>
            </mat-form-field>
          </td>
        </table>

        <p>Local onde reside atualmente</p>
        <table>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Cidade</mat-label>
              <input matInput type="text" ngModel name="city" required #cityInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>País</mat-label>
              <input matInput type="text" ngModel name="country" required #countryInput>
            </mat-form-field>
          </td>
        </table>

        <p>Informações de contato</p>
        <table>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput ngModel name="email" [formControl]="email" placeholder="Ex: pat@exemplo.com">
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Por favor insira um email válido
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                Email é <strong>necessário</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Número</mat-label>
              <input matInput placeholder="Ex: 07398-8366" type="text" ngModel name="phoneNumber" required #phoneNumberInput>
            </mat-form-field>
          </td>
        </table>

        <p>Dados da conta</p>
        <table>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Nome de Usuário</mat-label>
              <input matInput type="text" ngModel name="username" required #usernameInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput name="password" ngModel [type]="hide ? 'password' : 'text'" required #senhaInput>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </table>

        <p></p>
        <button mat-raised-button color="warn" type="submit">Cadastrar</button>
      </form>
    </mat-card>
  </mat-expansion-panel>
